@import "@/styles/unit.scss";

.container {
  .title {
    font-family: "Nobile";
    font-style: normal;
    font-weight: 500;
    font-size: rem(24);
    line-height: rem(36);
    letter-spacing: 0.01em;
    color: #1a2024;
  }
}
