@import "@/styles/unit.scss";

.conatiner {
  display: flex;
  gap: rem(6);
  background: #ffefeb;
  border: rem(1) solid #c5918c;
  border-radius: rem(12);
  padding: rem(16);

  .text {
    p {
      font-size: rem(14);
      line-height: rem(21);
      color: #303940;
    }
  }
}
