@import "@/styles/unit.scss";

.content {
  & > :not(:last-child) {
    margin-bottom: rem(16);
  }
}

.title {
  font-weight: 600;
  font-size: rem(20);
  line-height: rem(24);
  color: #141b2b;
}

.tabs__action {
  display: flex;
  align-items: center;
  column-gap: rem(8);
  margin-left: auto;
  padding: rem(18) 0;
  color: var(--primary-color);

  &Icon {
    display: flex;
  }
}
