@import "@/styles/unit.scss";

.card {
  width: rem(397);
  padding: rem(24);
  background: #ffffff;
  border-radius: rem(16);
  .icon {
    display: flex;
    align-items: center;
    width: rem(60);
    padding: rem(16);
    background: rgba(239, 114, 46, 0.08);
    border-radius: rem(12);
  }
  .text {
    margin-top: rem(16);
    font-weight: 500;
    font-size: rem(18);
    line-height: rem(23);
    color: #141b2b;
  }
}
