@import "@/styles/unit.scss";

.phoneBox {
  margin-top: rem(16);
  display: flex;
  flex-direction: column;
  row-gap: rem(8);
  div {
    width: auto !important;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: rem(10);
  width: 100%;
  height: rem(56);
  padding: 0;

  @media (max-width: 768px) {
    height: rem(52);
    padding: 0 !important;
  }
}

.character {
  border-radius: rem(8) !important;
  border: 1px solid #e6e6e6;
  background-color: transparent;
  height: rem(75);
  width: rem(75) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(24);
  line-height: rem(24);
  color: #00040a;
  font-weight: 500;
  font-family: "Inter";

  @media (max-width: 768px) {
    height: rem(52);
    width: rem(44) !important;
    border: 1px solid #e5e9eb;
  }
}

.characterSelected {
  border: 1px solid #ff8500;
  outline: none !important;
  color: #FF8500;
  @media (max-width: 768px) {
    border: 1px solid red;
  }
}

.timeCounter {
  padding: 0 rem(16) rem(16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  p {
    margin: 0;

    &:first-child {
      font-size: rem(14);
      line-height: rem(24);
      color: #6e8bb7;
      font-weight: 600;
      letter-spacing: -0.6%;
    }

    &:last-child {
      color: red;
      font-weight: 600;
      letter-spacing: -0.6%;
      font-size: rem(14);
      line-height: rem(24);
    }
  }
}
