@import "@/styles/unit.scss";

.container {
  background: #ffffff;
  border-radius: rem(12);
  padding: rem(24);
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(16);

  &__leftImage {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6fa;
    border-radius: rem(12);

    img {
      width: rem(116);
    }
  }
  &__rightContent {
    display: flex;
    flex-direction: column;
    width: 68%;

    .title {
      font-family: "Nobile";
      font-weight: 500;
      font-size: rem(20);
      line-height: rem(26);
      color: #1a2024;
    }
    .reyting {
      display: flex;
      align-items: center;
      gap: rem(8);
      margin-top: rem(9);

      .reytingTitle {
        font-weight: 400;
        font-size: rem(16);
        line-height: rem(21);
        color: #4d4d4d;
      }
      .reytingNumber {
        padding: rem(3) rem(8);
        background: #1ac19d;
        border-radius: rem(16);
        color: #ffffff;
        font-weight: 600;
        font-size: rem(14);
        line-height: rem(17);
      }
      .reytingText {
        font-size: rem(16);
        line-height: rem(21);
        color: #4d4d4d;
      }
    }

    .text {
      margin-top: rem(16);
      font-size: rem(14);
      line-height: rem(24);
      color: #5b6871;
    }
  }
}
