.container {
  h2 {
    text-align: center;
    font-weight: 600;
    font-style: normal;
    font-family: "Hind", sans-serif;
    color: #000000;
    font-size: 34px;
    line-height: 1.3;
    letter-spacing: 0px;
    margin-bottom: 24px;
  }
  p {
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    color: #5f656d;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0px;
  }
  .cards {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    h2 {
      text-align: center;
      font-weight: 600;
      font-style: normal;
      font-family: "Hind", sans-serif;
      color: #000000;
      font-size: 24px;
      line-height: 1.1;
      letter-spacing: 0px;
      margin-bottom: 24px;
    }
    p {
      text-align: center;
      font-weight: 400;
      font-style: normal;
      font-family: "Open Sans", sans-serif;
      color: #5f656d;
      font-size: 13px;
      line-height: 1.4;
      letter-spacing: 0px;
    }
    .cards {
      display: flex;
      flex-direction: column;
      padding: 25px 0 10px;
    }
  }
}
