@import "@/styles/unit.scss";

.content {
  &__wrapper {
    padding: rem(16) rem(36);
  }

  &__title {
    margin-bottom: rem(16);
    font-weight: 500;
    font-size: rem(14);
    color: #141b2b;
    line-height: rem(17);
  }

  &__text {
    font-size: rem(14);
    color: #141b2b;
    line-height: rem(21);
  }
}
