@import "@/styles/unit.scss";

.container {
  .balance {
    padding: rem(12) rem(16);
    border: rem(1) solid #e5e9eb;
    border-radius: rem(8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(44);
    margin-bottom: rem(8);

    .balanceCount {
      width: 30%;
      display: flex;
      flex-direction: column;
      .countText {
        font-weight: 500;
        font-size: rem(14);
        line-height: rem(17);
        letter-spacing: -0.154px;
        color: #777777;
      }
      .count {
        margin-top: rem(8);
        font-weight: 600;
        font-size: rem(18);
        line-height: rem(20);
        letter-spacing: -0.154px;
        color: #1a2024;
      }
    }
    button {
      display: flex;
      cursor: pointer;
      outline: none;
      border: none;
      padding: rem(8) rem(12);
      background: #ff8500;
      border-radius: rem(62);
      font-family: "Inter";
      font-weight: 500;
      font-size: rem(14);
      line-height: rem(20);
      letter-spacing: -0.154px;
      color: #ffffff;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: rem(16);
    .bonuceTitle {
      font-family: "Nobile";
      font-weight: 500;
      font-size: rem(20);
      line-height: rem(24);
      letter-spacing: 0.01em;
      color: #141b2b;
      margin-bottom: rem(16);
    }
    .outlined {
      width: 100%;
      cursor: pointer;
      background-color: #1ac19d;
      text-align: center;
      padding: rem(8) rem(24);
      border-radius: rem(62);
      border: none;
      outline: none;
      .text {
        font-size: rem(16);
        line-height: rem(24);
        color: #fff;
      }
    }
  }
}
