@import "@/styles/unit.scss";

.container {
  display: flex;
  flex-direction: column;
  .info {
    display: flex;
    align-items: center;
    gap: rem(8);
    padding: 0 rem(32);
    margin-bottom: rem(24);
    span:nth-child(1) {
      margin-top: rem(5);
    }
    .text {
      font-family: "Inter";
      font-size: rem(18);
      line-height: rem(16);
      color: #303940;
    }
  }
  .image {
    img {
      width: 100%;
    }
  }
}
