@import "@/styles/unit.scss";

.container {
  .title {
    font-family: "Nobile";
    font-weight: 500;
    font-size: rem(32);
    line-height: rem(42);
    color: #141b2b;
    margin-bottom: rem(24);
  }
  .cards {
    display: flex;
    gap: rem(24);
  }
}
