@import "@/styles/unit.scss";

.container {
  &__title {
    font-family: "Nobile";
    font-style: normal;
    font-weight: 500;
    font-size: rem(40);
    line-height: rem(60);
    text-align: center;
    letter-spacing: 0.01em;
    color: #141b2b;
    margin-bottom: rem(24);
  }
}
