@import "@/styles/unit.scss";

.container {
  font-family: "Nobile";
  font-style: normal;
  font-weight: 500;
  font-size: rem(32);
  line-height: rem(42);
  .mainTitle {
    font-family: "Nobile";
    font-style: normal;
    font-weight: 500;
    font-size: rem(32);
    line-height: rem(42);
  }
  .cards {
    display: flex;
    gap: rem(24);
  }
}
