@import "@/styles/unit.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(28);

  &__title {
    font-weight: 600;
    font-size: rem(32);
    line-height: rem(39);
    margin: 0;
  }
}

.sidebar {
  padding: rem(24);
  border-radius: rem(12);
  background-color: #fff;

  &__header {
    display: flex;
    align-items: center;
    column-gap: rem(12);
    margin-bottom: rem(12);
  }

  &__name {
    font-weight: 700;
    font-size: rem(16);
    line-height: rem(24);
    color: #252c32;
  }

  &__email {
    font-size: rem(14);
    line-height: rem(17);
    color: #5b6871;
  }
}

.menuItem {
  display: flex;
  align-items: flex-end;
  column-gap: rem(12);
  padding: rem(10) rem(12) rem(10) rem(8);

  &:not(:last-child) {
    margin-bottom: rem(4);
  }

  &_selected {
    border-radius: rem(8);
    background-color: var(--primary-soft-color);

    .menuItem {
      &__icon svg path {
        fill: var(--primary-color);
      }

      &__title {
        color: var(--primary-color);
      }
    }
  }

  &__accordionDetails {
    padding: rem(8) rem(16);
    font-size: rem(14);
    line-height: rem(24);
    color: #5b6871;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: rem(2);
    }

    &_selected {
      color: var(--primary-color);
      border-radius: rem(8);
      background-color: var(--primary-soft-color);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(24);
    color: #4d4d4d;
    cursor: pointer;
  }
}
