.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  .imgs {
    padding-top: 40px;
    padding-bottom: 15px;
    img {
      width: 270px;
      height: 203px;
    }
  }
  h1 {
    margin: 15px 0;
    font-weight: 600;
    font-style: normal;
    font-family: "Hind", sans-serif;
    color: #fe7012;
    font-size: 16px;
    line-height: 1.4px;
    letter-spacing: 0px;
  }
  p {
    text-align: left !important;

    margin-top: 15px;
    font-weight: 400;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    color: #5f656d;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .imgs {
      padding-top: 40px;
      padding-bottom: 15px;
      img {
        width: 270px;
        height: 203px;
      }
    }
    h1 {
      margin: 15px 0;
      font-weight: 600;
      font-style: normal;
      font-family: "Hind", sans-serif;
      color: #fe7012;
      font-size: 16px;
      line-height: 1.4px;
      letter-spacing: 0px;
    }
    p {
      text-align: center !important;

      margin-top: 15px;
      font-weight: 400;
      font-style: normal;
      font-family: "Open Sans", sans-serif;
      color: #5f656d;
      font-size: 15px;
      line-height: 1.6;
      letter-spacing: 0px;
    }
  }
}
