@import "@/styles/unit.scss";

.loginBox {
  .title {
    font-family: "Inter";
    font-weight: 500;
    font-size: rem(24);
    line-height: rem(24);
    color: #00040a;
    text-align: center;
  }

  .inputBox {
    margin-top: rem(16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: rem(24);
    width: 100%;
    .buttons {
      display: flex;
      gap: rem(24);
      .outlined {
        width: 100%;
        cursor: pointer;
        border: 1px solid #ff8500;
        background-color: transparent;
        text-align: center;
        padding: rem(12) rem(16);
        border-radius: 8px;
        .text {
          font-weight: 500;
          font-size: rem(16);
          line-height: rem(24);
          color: #ff8500;
        }
      }
      .btn {
        width: 100%;
        cursor: pointer;
        background-color: #ff8500;
        border: none;

        text-align: center;
        padding: rem(12) rem(16);
        border-radius: 8px;
        .text {
          font-weight: 500;
          font-size: rem(16);
          line-height: rem(24);
          color: #ffffff;
        }
      }
    }
  }
}
