.box {
  max-width: 270px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 25px 20px;
  background-color: #fe7012;
  &:hover {
    cursor: pointer;
    background-color: #021e37;
    transition: 0.3s ease-in;
  }
  .info {
    h2 {
      font-weight: 600;
      font-style: normal;
      font-family: "Hind", sans-serif;
      color: #ffffff;
      font-size: 18px;
      letter-spacing: 0px;
      margin-bottom: 5px;
    }
    p {
      font-weight: 400;
      font-style: normal;
      font-family: "Open Sans", sans-serif;
      color: #ffffff;
      font-size: 12px;
      letter-spacing: 0px;
    }
  }
}

@media (max-width: 768px) {
  .box {
    max-width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 25px 20px;
    background-color: #fe7012;
    &:hover {
      cursor: pointer;
      background-color: #021e37;
      transition: 0.3s ease-in;
    }
    .info {
      h2 {
        font-weight: 600;
        font-style: normal;
        font-family: "Hind", sans-serif;
        color: #ffffff;
        font-size: 18px;
        letter-spacing: 0px;
        margin-bottom: 5px;
      }
      p {
        font-weight: 400;
        font-style: normal;
        font-family: "Open Sans", sans-serif;
        color: #ffffff;
        font-size: 12px;
        letter-spacing: 0px;
      }
    }
  }
}
