@import "@/styles/unit.scss";

.main {
  max-width: 588px;
  width: 100%;
  border: 1px solid #e5e9eb;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: rem(16);

  .leftSide {
    display: flex;
    align-items: center;
    gap: rem(16);
    width: 100%;

    .image {
      background-color: #e4fcfc;
      padding: rem(16);
      border-radius: 8px;
    }

    .infoSection {
      max-width: rem(300);
      width: 100%;
      .infoTitle {
        font-size: rem(18);
        color: #303940;
        font-weight: 500;
        width: 100%;
        margin-bottom: rem(8);
      }

      .priceSection {
        display: flex;
        gap: rem(16);

        .price {
          font-size: rem(16);
          color: #84919a;
        }
      }
    }
  }
}
