@import "@/styles/unit.scss";

.footer {
  width: 100%;
  background-color: #021e37;
  padding: rem(40) 0;
  .box {
    display: flex;
    flex-direction: column;

    .links {
      display: flex;
      justify-content: space-between;
      .infoAbout {
        max-width: 270px;

        img {
          width: 100%;
        }
      }
      .infoWays {
        display: flex;
        flex-direction: column;
        max-width: 270px;
        display: flex;
        flex-direction: column;
        .text {
          margin-top: 10px;
          font-weight: 700;
          font-style: normal;
          font-family: "Open Sans", sans-serif;
          color: #fff;
          font-size: 15px;
          line-height: 1.6;
          letter-spacing: 0px;
        }
      }
      .urls {
        list-style: none;
        padding: 0;
        row-gap: rem(24);
        display: block;
        flex-direction: column;
        li {
          margin-bottom: rem(12);
          .urlItems {
            font-size: rem(16);
            line-height: rem(19);
            opacity: 0.8;
            color: #fff;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .contacts {
        list-style: none;
        padding: 0;
        row-gap: rem(24);
        display: flex;
        flex-direction: column;
        li a {
          display: flex;
          gap: rem(14);
          align-items: center;
          font-size: rem(18);
          line-height: rem(22);
          color: #fff;
        }
      }
    }
  }
  .underline {
    height: rem(1);
    background: #e4e4e3;
    opacity: 0.2;
    margin-bottom: rem(37);
    margin-top: rem(40);
  }
  .footerText {
    display: flex;
    justify-content: space-between;
    ul {
      .networks {
        display: flex;
        gap: rem(20);
        a {
          svg {
            g {
              opacity: 0.5;
            }
            path {
              fill: white;
            }
            &:hover {
              g {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .info {
      font-size: rem(14);
      line-height: rem(20);
      color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
    background-color: #021e37;
    padding: rem(40) 10px;
    .box {
      display: flex;
      flex-direction: column;

      .links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        .infoAbout {
          max-width: 270px;

          img {
            width: 100%;
          }
        }
        .infoWays {
          display: flex;
          flex-direction: column;
          max-width: 270px;
          display: flex;
          flex-direction: column;
          .text {
            margin-top: 10px;
            font-weight: 700;
            font-style: normal;
            font-family: "Open Sans", sans-serif;
            color: #fff;
            font-size: 15px;
            line-height: 1.6;
            letter-spacing: 0px;
          }
        }
        .urls {
          list-style: none;
          padding: 0;
          row-gap: rem(24);
          display: block;
          flex-direction: column;
          li {
            margin-bottom: rem(12);
            .urlItems {
              font-size: rem(16);
              line-height: rem(19);
              opacity: 0.8;
              color: #fff;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .contacts {
          list-style: none;
          padding: 0;
          row-gap: rem(24);
          display: flex;
          flex-direction: column;
          li a {
            display: flex;
            gap: rem(14);
            align-items: center;
            font-size: rem(18);
            line-height: rem(22);
            color: #fff;
          }
        }
      }
    }
    .underline {
      height: rem(1);
      background: #e4e4e3;
      opacity: 0.2;
      margin-bottom: rem(37);
      margin-top: rem(40);
    }
    .footerText {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;
      ul {
        .networks {
          display: flex;
          gap: rem(20);
          a {
            svg {
              g {
                opacity: 0.5;
              }
              path {
                fill: white;
              }
              &:hover {
                g {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      .info {
        font-size: rem(14);
        line-height: rem(20);
        color: #fff;
      }
    }
  }
}
