@import "@/styles/unit.scss";

.container {
  display: flex;
  align-items: center;
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(88);
      height: rem(88);
      background: #f4f6fa;
      border-radius: 50px;
      margin-bottom: rem(16);
    }

    .title {
      font-family: "Nobile";
      text-align: center;
      font-weight: 500;
      font-size: rem(18);
      line-height: rem(27);
      letter-spacing: 0.01em;
      color: #141b2b;
    }
  }
}
