@import "@/styles/unit.scss";

.section {
  padding: rem(40) rem(10);
  background: #f4f6fa;
}

.change {
  padding: rem(40) 0;
  background: #fff;
}
.sectionSwiper {
  padding: rem(100) 0;
}

.swiper {
  background: ",";
}
