@import "@/styles/unit.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e9eb;
  border-radius: rem(8);
  padding: rem(12) rem(16);
  margin-top: rem(32);
  .leftContent {
    display: flex;
    flex-direction: column;
    .title {
      font-weight: 500;
      font-size: rem(14);
      line-height: rem(17);
      letter-spacing: -0.154px;
      color: #777777;
      margin-bottom: rem(8);
    }
    .url {
      font-weight: 500;
      font-size: rem(14);
      line-height: rem(17);
      letter-spacing: -0.154px;
      color: #141b2b;
    }
  }
  .copyBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    background: #ff8500;
    border-radius: rem(62);
    padding: rem(8) rem(20) rem(8) rem(16);
    gap: rem(8);
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(20);
    letter-spacing: -0.154px;
    color: #ffffff;
  }
}
