@import "@/styles/unit.scss";

.list {
  &__item {
    display: flex;
    justify-content: space-between;
    padding: rem(12);
    font-weight: 500;
    font-size: rem(14);
    color: #141b2b;
    line-height: rem(17);

    &:not(:last-child) {
      border-bottom: 1px solid #e5e9eb;
    }
  }

  &__date {
    color: #48535b;
  }
}
