@import "@/styles/unit.scss";

.container {
  display: flex;
  flex-direction: column;
  .title {
    font-family: "Inter";
    font-weight: 700;
    font-size: rem(28);
    line-height: rem(28);
    text-align: center;
    color: #282828;
  }
  .row1 {
    display: flex;
    gap: rem(12);
  }
  .btn {
    width: 100%;
    cursor: pointer;
    background-color: #ff8500;
    border: none;

    text-align: center;
    padding: rem(16) rem(24);
    border-radius: rem(4);
    .text {
      font-size: rem(16);
      line-height: rem(19);
      color: #ffffff;
    }
  }
}
