.container {
  padding: 60px 0;
  background: #f4f5f5;
  .details {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0px 15px;
    background: #f4f5f5;
    .details {
      margin: 0 auto;
      padding: 45px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
    }
  }
}
