@import "@/styles/unit.scss";

.header {
  display: flex;
  align-items: center;
  column-gap: rem(12);
  margin-bottom: rem(16);

  &__action {
    cursor: pointer;
  }

  &__trackCode {
    font-weight: 600;
    font-size: rem(20);
    line-height: rem(24);
    color: #141b2b;
  }
}

.infoCards {
  display: flex;
  column-gap: rem(16);
  margin-bottom: rem(24);

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(16);
    width: 100%;
    padding: rem(12) rem(16);
    border: 1px solid #e5e9eb;
    border-radius: rem(8);
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: rem(8);
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(17);
  }

  &__subtitle {
    color: #777777;
  }

  &__title {
    color: #141b2b;
  }

  &__action {
    cursor: pointer;
  }
}

.table {
  margin-bottom: rem(24);

  &__title {
    font-weight: 600;
    font-size: rem(16);
    line-height: rem(19);
    margin-bottom: rem(8);
  }
}

.services {
  margin-bottom: rem(24);

  &__title {
    margin-bottom: rem(8);
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(19);
  }

  &__subtitle {
    font-size: rem(16);
    color: #5b6871;
    line-height: rem(27);

    button {
      border: none;
      background-color: transparent;
      font-size: inherit;
      color: #1ac19d;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.status {
  &__title {
    margin-bottom: rem(12);
    font-weight: 500;
    font-size: rem(16);
    color: #141b2b;
    line-height: rem(19);
  }

  &__progress {
    max-width: rem(450);
    margin: 0 auto rem(36);
    padding-left: rem(52);
  }

  &__step {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(32);

    &:not(:first-child) {
      padding-top: rem(26);
    }

    &:not(:first-child)::before {
      content: "";
      position: absolute;
      left: rem(-41);
      bottom: rem(12);
      display: block;
      width: 2px;
      height: 100%;
      background-color: #b0babf;
    }

    &::after {
      content: "";
      position: absolute;
      left: rem(-48);
      z-index: 2;
      display: block;
      width: rem(12);
      height: rem(12);
      border-radius: 100%;
      border: 2px solid #b0babf;
      background-color: #fff;
    }

    &.status__step_active::before {
      background-color: #1ac19d;
    }

    &.status__step_active::after {
      content: none;
    }

    &_active_icon {
      position: absolute;
      z-index: 3;
      left: rem(-52);
      display: flex;

      svg {
        background-color: #fff;
      }
    }
  }

  &__label {
    font-size: 500;
    font-size: rem(16);
    line-height: rem(24);
    color: #48535b;
  }

  &__date {
    font-size: rem(16);
    line-height: rem(24);
    color: #6e7c87;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    column-gap: rem(10);
  }
}
