@import "@/styles/unit.scss";

.box {
  .header {
    padding: 0 rem(16);
    height: rem(100);
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f6f8f9;
    a {
      width: 150px;
      height: 20px;
      margin-top: -100px;
      img {
        width: 100%;
      }
    }
    div {
      svg {
        path {
          fill: #141b2b;
        }
      }
    }
  }
  .boxBody {
    .title {
      padding: rem(16);
      margin-top: rem(24);
      font-weight: 500;
      font-size: rem(12);
      line-height: rem(14);
      letter-spacing: 0.01em;
      color: #141b2b;
      opacity: 0.5;
    }
    .menuItems {
      display: flex;
      align-items: center;
      padding: rem(16);
      border-bottom: 1px solid #eef0f2;
      .menuTexts {
        font-weight: 500;
        font-size: rem(14);
        line-height: rem(16);
        letter-spacing: 0.01em;
        color: #141b2b;
      }
      .button {
        margin-left: auto;
        .btn {
          margin: 0 rem(4);
          cursor: pointer;
          background-color: #f6f8f9;
          text-align: center;
          padding: rem(6) rem(16);
          border-radius: rem(16);
          border: none;
          outline: none;

          .text {
            font-size: rem(14);
            line-height: rem(17);
            color: #1a2024;
          }
        }
        .changeColor {
          margin: 0 rem(4);
          cursor: pointer;
          background-color: #1ac19d;
          text-align: center;
          padding: rem(6) rem(16);
          border-radius: rem(16);
          border: none;
          outline: none;
          .text {
            font-size: rem(14);
            line-height: rem(17);
            color: #ffffff;
          }
        }
      }
    }
    nav {
      display: flex;
      flex-direction: column;
      padding: 20px 20px;
      border-bottom: 1px solid #eef0f2;
      ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 20px;
        list-style: none;
        align-items: flex-start;

        li {
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 700;
          color: #141b2b;
          &:hover {
            color: #fe7012;
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .boxBody {
    .button {
      .btn {
        margin: 0 rem(4);
        background-color: #f6f8f9;
        text-align: center;
        padding: rem(6) rem(12);
        border-radius: rem(16);
        border: none;
        outline: none;

        .text {
          font-size: rem(12) !important;
          line-height: rem(14);
          color: #1a2024;
        }
      }
      .changeColor {
        margin: 0 rem(4);
        cursor: pointer;
        background-color: #1ac19d;
        text-align: center;
        padding: rem(6) rem(12);
        border-radius: rem(16);
        border: none;
        outline: none;
        .text {
          font-size: rem(12) !important;
          line-height: rem(14);
          color: #ffffff;
        }
      }
    }
  }
}
