@import "@/styles/unit.scss";

.container {
  padding: 50px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/mt-1584-home-bg-2.jpg");
  .title {
    text-align: center;
    font-weight: 600;
    font-style: normal;
    font-family: "Hind", sans-serif;
    color: #ffffff;
    font-size: 34px;
    line-height: 1.3;
    letter-spacing: 0px;
    margin-bottom: 24px;
  }
  .text {
    padding: 0 100px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0px;
  }
  .content {
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 50px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/mt-1584-home-bg-2.jpg");
    .title {
      padding: 0 10px;
      text-align: center;
      font-weight: 600;
      font-style: normal;
      font-family: "Hind", sans-serif;
      color: #ffffff;
      font-size: 24px;
      line-height: 1.1;
      letter-spacing: 0px;
      margin-bottom: 24px;
    }
    .text {
      padding: 0 10px;
      text-align: center;
      font-weight: 400;
      font-style: normal;
      font-family: "Open Sans", sans-serif;
      color: #fff;
      font-size: 13px;
      line-height: 1.4;
      letter-spacing: 0px;
    }
    .content {
      margin: 0 auto;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      gap: 10px;
    }
  }
}
