@import "@/styles/unit.scss";

.balanceCards {
  display: flex;
  column-gap: rem(8);

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: rem(12);
    border: 1px solid #e5e9eb;
    border-radius: 8px;

    &Wrapper {
      display: flex;
      flex-direction: column;
    }

    .subtitle {
      margin-bottom: rem(8);
      font-weight: 500;
      font-size: rem(14);
      line-height: rem(19);
      color: #777;
    }

    .title {
      font-weight: 500;
      font-size: rem(24);
      line-height: rem(29);
      color: #141b2b;
    }
  }
}

.card {
  display: flex;
  align-items: center;
  column-gap: rem(12);
  padding: rem(12);
  border: 1px solid #e5e9eb;
  border-radius: 8px;

  &:not(:last-child) {
    margin-bottom: rem(8);
  }

  &__innerWrapper {
    display: flex;
    flex-direction: column;
    row-gap: rem(4);
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(19);
    color: #141b2b;

    &:last-child {
      margin-left: auto;
    }

    & > :last-child {
      color: #5b6871;
    }
  }
}
