@import "@/styles/unit.scss";

.cards {
  & > :not(:last-child) {
    margin-bottom: rem(12);
  }
}

.card {
  padding: rem(16);
  border: 1px solid #e5e9eb;
  border-radius: 8px;

  &__header {
    display: flex;
    align-items: center;
    column-gap: rem(8);
    margin-bottom: rem(12);

    &Icon {
      display: flex;
    }
  }

  &__contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(8) rem(12);
  }

  &__contact {
    font-size: rem(14);
    line-height: rem(17);
    color: #5b6871;

    & > :last-child {
      margin-left: rem(8);
      font-weight: 500;
      color: #303940;
    }
  }
}
