.Frow {
  width: 100%;

  .label {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.41px;
    color: #1a2024;
    margin-bottom: 6px;

    .requiredStart {
      color: red;
    }
  }

  .component {
    flex: 1;
  }

  &.vertical {
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;

    .label {
      width: auto;
      transform: translateY(0);
      margin-bottom: 10px;
    }

    .component {
      padding: 0;
      width: 100%;
    }
  }
}

.radioWrapper {
  display: flex;
  gap: 24px;
  .labelButton {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
