.container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 50px;
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .title {
      font-weight: 600;
      font-style: normal;
      font-family: "Hind", sans-serif;
      color: #fe7012;
      font-size: 21px;
      letter-spacing: 0px;
      margin-bottom: 10px;
    }
    .text {
      text-transform: lowercase;
      text-align: left !important;
      font-weight: 400;
      font-style: normal;
      font-family: "Open Sans", sans-serif;
      color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    .img {
      width: 150px;
      height: 75px;
      img {
        width: 100%;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .title {
        font-weight: 600;
        font-style: normal;
        font-family: "Hind", sans-serif;
        color: #fe7012;
        font-size: 16px;
        letter-spacing: 0px;
        margin-bottom: 10px;
      }
      .text {
        text-align: left !important;
        font-weight: 400;
        font-size: 13px;
        font-style: normal;
        font-family: "Open Sans", sans-serif;
        color: #fff;
      }
    }
  }
}
