@import "@/styles/unit.scss";
.container {
  width: rem(318.67);
  display: flex;
  flex-direction: column;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: rem(88);
    height: rem(88);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 20px rgba(82, 47, 29, 0.08);
    backdrop-filter: blur(rem(6));
    border-radius: rem(50);
  }
  .title {
    margin-top: rem(16);
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(24);
  }
  .text {
    margin-top: rem(12);
    margin-bottom: rem(32);
    font-size: rem(16);
    line-height: rem(24);
    letter-spacing: 0.01em;
  }
}
