@import "@/styles/unit.scss";

.table {
  &__delete {
    cursor: pointer;
  }

  &__paymentStatus {
    padding: rem(4) rem(12);
    border-radius: rem(6);
    background-color: rgba(242, 39, 28, 0.15);
    font-weight: 500;
    font-size: rem(14);
    color: #f2271c;
    line-height: rem(24);
    text-align: center;

    &.table__paymentStatus_paid {
      background-color: #bbfbd0;
      color: #119c2b;
    }
  }
}
