.container {
  padding: 50px 0;
  background-image: url("/images/mt-1584-home-bg-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .title {
    text-align: center;
    font-weight: 600;
    font-style: normal;
    font-family: "Hind", sans-serif;
    color: #ffffff;
    font-size: 34px;
    line-height: 1.3;
    letter-spacing: 0px;
    margin-bottom: 24px;
  }
  .text {
    padding: 0 100px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0px;
  }
  .blogs {
    max-width: 1300px;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 45px 25px;
    background-image: url("/images/mt-1584-home-bg-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .title {
      text-align: center;
      font-weight: 600;
      font-style: normal;
      font-family: "Hind", sans-serif;
      color: #ffffff;
      font-size: 24px;
      line-height: 1.1;
      letter-spacing: 0px;
      margin-bottom: 24px;
    }
    .text {
      padding: 0 0px;
      text-align: center;
      font-weight: 400;
      font-style: normal;
      font-family: "Open Sans", sans-serif;
      color: #fff;
      font-size: 13px;
      line-height: 1.4;
      letter-spacing: 0px;
    }
    .blogs {
      max-width: 1300px;
      margin: 50px auto 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
