@import "@/styles/unit.scss";

.form {
  display: flex;
  flex-direction: column;
  .title {
    font-family: "Nobile";
    font-weight: 700;
    font-size: rem(36);
    line-height: rem(47);
    color: #141b2b;
  }
  .text {
    margin-top: rem(4);
    font-size: rem(16);
    line-height: rem(24);
    color: #3c464e;
    margin-bottom: rem(24);
  }
  .formInputs {
    display: flex;
    flex-direction: column;
  }
  .checkboxItem {
    font-size: rem(14);
    line-height: rem(24);
    color: #3c464e;
    a {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .forgotPassword {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .checkbox {
      display: flex;
      align-items: center;
    }
    .forgotPasswordText {
      font-size: rem(18);
      line-height: rem(24);
      text-align: center;
      color: #ff8500;
      cursor: pointer;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: rem(16);
    gap: rem(16);

    .outlined {
      width: 100%;
      cursor: pointer;
      background-color: transparent;
      text-align: center;
      padding: rem(8) rem(24);
      border-radius: 8px;
      border: 1px solid #84919a;
      .text {
        font-size: rem(16);
        line-height: rem(24);
        color: #141b2b;
      }
    }
    .btn {
      width: 100%;
      cursor: pointer;
      background-color: #141b2b;
      text-align: center;
      padding: rem(8) rem(24);
      border-radius: 8px;
      .text {
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(24);
        color: #ffffff;
      }
    }
  }
  .google {
    margin-top: rem(12);
    .googleBtn {
      cursor: pointer;
      width: 100%;
      justify-content: center;
      display: flex;
      gap: rem(10);
      border: rem(1) solid #84919a;
      background-color: transparent;
      border-radius: rem(8);
      align-items: center;
      padding: rem(8) rem(24);
      font-family: "Nobile";
      font-size: rem(16);
      line-height: rem(18);
      color: #141b2b;
    }
  }
}
