@import "@/styles/unit.scss";
.header {
  background-color: transparent;
  align-items: center;
  position: sticky;
  top: -75px;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 30;
  .box {
    display: flex;
    align-items: center;
    .menuBtn {
      display: none;
    }
    .logo {
      top: 0;
      width: 130px;
      height: 20px;
      margin-top: -90px;
      img {
        width: 100%;
      }
    }
    .times {
      display: flex;
      gap: 25px;
      margin-left: 100px;
      .line {
        height: 40px;
        width: 2px;
        background-color: #898888;
      }
      .customTime {
        display: flex;
        gap: 10px;
        justify-content: center;

        .customInfo {
          display: flex;
          flex-direction: column;
          // align-items: center;

          p {
            font-weight: 400;
            font-style: normal;
            font-family: "Open Sans", sans-serif;
            color: #848a90;
            font-size: 12px;
            letter-spacing: 0px;
          }
          a {
            font-weight: 700;
            font-style: normal;
            font-family: "Open Sans", sans-serif;
            color: #222931;
            font-size: 14px;
            line-height: 1.6;
            letter-spacing: 0px;
          }
        }
      }
    }
    .select {
      display: flex;
      background-color: transparent;
      margin-left: auto;
    }
  }
  .navWrapper {
    width: 100%;
    &.active {
      background-color: #fe7012;
    }
  }
  .navItems {
    margin-top: 10px;
    transition: 0.4s ease-in;
    background-color: #fe7012;
    display: flex;
    justify-content: flex-start;
    gap: 60%;
    nav {
      display: flex;
      ul {
        margin: 0;
        padding: 0 0 0 10px;
        list-style: none;
        display: flex;
        align-items: center;

        li {
          padding: 8px 16px;
          font-size: 14px;
          line-height: 22px;
          position: relative;
          display: block;
          text-align: left;
          transition: 0.3s;
          z-index: 1;
          letter-spacing: 0.56px;
          color: #fff;
          &:hover {
            background-color: #021e37;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    background-color: transparent;
    position: none;
    top: -100px;
    left: 0;
    display: block;
    width: 100%;
    padding: 50px 10px;
    z-index: 30;
    align-items: center;
    .box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .times {
        display: none;
      }
      .menuBtn {
        display: block;
      }
      .logo {
        width: 150px;
        height: 20px;
        margin-top: -100px;
        img {
          width: 100%;
        }
      }
      .select {
        display: none;
      }
    }
    .navItems {
      display: none;
    }
  }
}
