@import "@/styles/unit.scss";

.container {
  &__serviceTitle {
    font-family: "Nobile";
    font-weight: 500;
    font-size: rem(32);
    line-height: rem(42);
    color: #141b2b;
  }
  .contents {
    height: rem(510);
    margin-bottom: rem(154);
    display: flex;
    justify-content: space-between;
    .leftContent {
      width: 48%;
      padding: rem(24);
      border-radius: rem(24);
      background-color: #f4f6fa;
    }

    .rightContent {
      width: 48%;
    }
  }
}
