.card {
  display: flex;
  align-items: center;
  gap: 20px;
  .content {
    display: flex;
    flex-direction: column;
    span {
      font-weight: 600;
      font-style: normal;
      font-family: "Hind", sans-serif;
      color: #fe7012;
      font-size: 28px;
      letter-spacing: 0px;
      margin-bottom: 10px;
    }
    p {
      font-weight: 600;
      font-style: normal;
      font-family: "Hind", sans-serif;
      color: #222931;
      font-size: 12px;
      letter-spacing: 0px;
    }
  }
}

@media (max-width: 768px) {
  .card {
    display: flex;
    align-items: center;
    gap: 20px;
    .content {
      display: flex;
      flex-direction: column;
      span {
        font-weight: 600;
        font-style: normal;
        font-family: "Hind", sans-serif;
        color: #fe7012;
        font-size: 24px;
        letter-spacing: 0px;
        margin-bottom: 0px;
      }
      p {
        font-weight: 600;
        font-style: normal;
        font-family: "Hind", sans-serif;
        color: #222931;
        font-size: 12px;
        letter-spacing: 0px;
      }
    }
  }
}
