@import "@/styles/unit.scss";

.container {
  display: flex;
  justify-content: space-between;
  .image {
    display: flex;
    align-items: center;
    width: 50%;
    border-radius: rem(24);
  }
  .form {
    width: 40%;
  }
}
