@import "@/styles/unit.scss";

.container {
  width: rem(292);
  padding: rem(24);
  background: #ffffff;
  border-radius: rem(16);
  .icon {
    display: flex;
    align-items: center;
    width: rem(60);
    padding: rem(16);
    background: rgba(239, 114, 46, 0.08);
    border-radius: rem(12);
    margin-bottom: rem(16);
  }
  .title {
    font-family: "Nobile";
    font-weight: 500;
    font-size: rem(18);
    line-height: rem(23);
  }
  .text {
    color: #5b6871;
    font-size: rem(16);
    line-height: rem(27);
  }
}
