@import "@/styles/unit.scss";

.container {
  display: flex;
  justify-content: space-between;
  padding: rem(12);
  border-bottom: 1px solid #e5e9eb;
  cursor: pointer;
  &__image {
    width: 35%;

    img {
      width: 100%;
      border-radius: rem(6);
    }
  }
  .info {
    width: 60%;
    &__title {
      font-family: "Nobile";
      font-style: normal;
      font-weight: 500;
      font-size: rem(18);
      line-height: rem(23);
    }
    &__address {
      font-size: rem(16);
      line-height: rem(24);
      color: #1a2024;
    }
    &__date {
      font-size: rem(16);
      line-height: rem(24);
      color: #5b6871;
    }
  }
}
