@import "@/styles/unit.scss";

.button {
  cursor: pointer;
  background-color: #ef722e;
  outline: none;
  border: none;
  text-align: center;
  padding: rem(8) rem(24);
  border-radius: 25px;
  .text {
    font-style: normal;
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(24);
    color: #ffffff;
  }
}
.btn {
  cursor: pointer;
  background-color: #141b2b;
  text-align: center;
  padding: rem(8) rem(24);
  border-radius: 8px;
  .text {
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(24);
    color: #ffffff;
  }
}

.outlined {
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  padding: rem(8) rem(24);
  border-radius: 8px;
  border: 1px solid #84919a;
  .text {
    font-size: rem(16);
    line-height: rem(24);
    color: #141b2b;
  }
}
