@import "@/styles/unit.scss";

.card {
  div {
    width: 282px;
    height: 180px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: rem(67) rem(46);
    background: #f4f6fa;
    border-radius: rem(16);
    img {
      width: 100%;
    }
  }
  p {
    text-align: center;
    font-size: rem(20);
    line-height: rem(26);
    margin-top: rem(8);
    color: #141b2b;
  }
}
