@import "@/styles/unit.scss";

.container {
  .close {
    cursor: pointer;
    top: 2%;
    right: 1%;
    position: absolute;
  }
  .title {
    font-family: "Inter";
    font-weight: 600;
    font-size: rem(24);
    line-height: rem(32);
    color: #000000;
    margin-bottom: rem(24);
  }
  .orders {
    display: flex;
    justify-content: space-between;
  }
  .titleScore {
    margin-top: rem(32);
    font-family: "Inter";
    font-weight: 600;
    font-size: rem(20);
    line-height: rem(24);
    color: #141b2b;
  }
  .text {
    margin-top: rem(8);
    font-size: rem(16);
    line-height: rem(27);
    letter-spacing: 0.01em;
    color: #5b6871;
  }
  .fildes {
    margin-top: rem(32);
    display: flex;
    gap: rem(12);
    margin-bottom: rem(16);
  }
}
