.sliderWrapper {
  height: 776px;
  background-image: url("/images/mt-1584-home-bg-1.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 75px;
  .box {
    max-width: 870px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px 15px 40px 40px;
    h1 {
      font-weight: 600;
      font-style: normal;
      font-family: sans-serif;
      color: #222931;
      font-size: 34px;
      line-height: 1.4;
      letter-spacing: 0px;
    }
    p {
      font-weight: 600;
      font-style: normal;
      font-family: sans-serif;
      color: #fe7012;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0px;
    }
  }
}

@media (max-width: 768px) {
  .sliderWrapper {
    position: relative;
    height: 676px;
    background-image: url("/images/mt-1584-home-bg-1.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    .box {
      bottom: 10%;
      left: 5%;
      position: absolute;
      max-width: 343px;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 25px 10px 25px 25px;
      h1 {
        font-weight: 600;
        font-style: normal;
        font-family: sans-serif;
        color: #222931;
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: 0px;
      }
      p {
        font-weight: 600;
        font-style: normal;
        font-family: sans-serif;
        color: #fe7012;
        font-size: 13px;
        line-height: 1.5;
        letter-spacing: 0px;
      }
    }
  }
}
