@import "@/styles/unit.scss";

.container {
  padding: rem(24);
  background-color: #fff;
  border-radius: rem(12);
  margin-top: rem(28);

  .title {
    font-weight: 600;
    font-size: rem(20);
    line-height: rem(24);
    color: #141b2b;
    margin-bottom: rem(16);
  }
  .row1 {
    display: flex;
    gap: rem(12);
    .label {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.41px;
      color: red;
      margin-bottom: 6px;
    }
  }
  .row2 {
    display: flex;
    gap: rem(12);
  }
}
