@import "@/styles/unit.scss";

.container {
  .title {
    font-family: "Nobile";
    font-weight: 500;
    font-size: rem(40);
    line-height: rem(60);
    text-align: center;
    letter-spacing: 0.01em;
    color: #141b2b;
    margin-bottom: rem(24);
  }
  .text {
    font-size: rem(16);
    line-height: rem(27);
    color: #5b6871;
  }
}
